# Se ignoran los archivos propios de PyCharm
.idea

diccionarios/
indices/
docs/
indice_tmp.txt
documents_index.txt
diccionario_tmp.txt
dictionary.txt
index.txt
prueba.txt
p_prueba.txt
*.html
*.bin
*pyc
